{{> repertoirePilotesPartial}}
<table class="listePil">


        {{#each afficherPilote}}
            <img class ="photoPilote" src="/image/pilote/{{phoadresse}}" alt="Photo du pilote {{pilprenom}} {{pilnom}}" />


    <tr>
           <td class="omPil">   NOM : {{pilprenom}} {{pilnom}}</td>

    </tr>
    <tr>
            <td class="DatePil"> Date de naissance : {{formatDate pildatenais 'dddd D MMMM YYYY '}}</td>
            <td>Poids : {{pilpoids}} kg</td>
    </tr>
    <tr>
            <td class="NatPil"> Nationalité : {{paynat}}</td>
            <td>Taille : {{piltaille}} Cm</td>
    </tr>
    <tr>


        {{#if ecunom}}
            <td class="EcuPil"> Ecurie : {{ecunom}}</td>
        {{else}}
           <td> Ecurie : Pas d'écurie cette année.</td>
        {{/if}}

    </tr>
</table>
        {{/each}}
            {{#if sponom}}
            Principaux sponsors :

            {{> listerSponsor}}

            {{else}}

            {{/if}}
{{#each afficherPilote}}
   <textarea >Qui suis-je ? : {{piltexte}}</textarea>
{{/each}}

    <br class="myboth" />
